body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFE4;
  color: #000000;
  /* white font color */
}

.App {
  width: 90%;
  margin: 0 auto;
  margin-top: 12vh;
  color: #000000;
  /* ensures text is white inside App */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* full viewport height */

}

/* Main content grows to fill available space */
main {
  flex: 1;
}