.home-section {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding: 5vh 3vw;
  min-height: calc(100vh - 60px)
}

.cards-container {
  gap: 15px;
  flex-wrap: wrap;
  align-items: stretch
}

.cards-container,
.home-card {
  display: flex;
  justify-content: center
}

.home-card {
  background-color: hsla(0, 0%, 100%, .05);
  padding: 20px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, .3);
  color: #222;
  line-height: 1.5;
  flex: 1 1 300px;
  backdrop-filter: blur(5px);
  flex-direction: column;
  text-align: justify
}

.intro-card {
  flex: 2 1 400px
}

.right-stack {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1 1 200px;
  justify-content: space-between
}

.home-card h1,
.home-card h2,
.home-card h3,
.home-card p {
  text-align: justify;
  margin-bottom: 10px
}

.uni-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 10px
}

.highlight {
  color: #1a659e;
  font-weight: 700
}

@media screen and (max-width:1024px) {
  .cards-container {
    flex-direction: column;
    align-items: center
  }

  .home-card {
    max-width: 90%
  }

  .right-stack {
    flex-direction: column;
    gap: 15px
  }
}

/* .home-card.intro-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.intro-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px
}


.intro-text h1,
.intro-text h2 {
  text-align: left;
  margin: 0
  }
  
  .profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px
  }
  .intro-text h1 {
    font-size: 2em
    }
    
    .intro-text h2 {
      font-size: 1.5em;
      font-weight: 400;
      color: #777
} */

.profile-pic {
  width: 40vw;
  /* height: 200px; */
  /* border-radius: 50%; */
  margin-right: 15px
}

.intro-card {
  max-width: 50vw;
}

.intro-text{
  text-align:left;
}

.right-stack {
  min-width: 30vw;
}

.uni-logo {
  width: 10vw;
  /* Adjust the width as needed */
  height: 10vw;
  /* Adjust the height as needed */
  /* object-fit: cover; */
  /* Ensures image keeps aspect ratio while filling the container */
  align-items: center;
}

.home-card.uni-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally centers the image */
  justify-content: center; /* Vertically centers the image, if needed */
  text-align: center; /* Ensures the text is centered */
  padding: 20px; /* Optional: Add padding around the card */
}